.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.footer {
  background-color:floralwhite;
  padding: 40px 20px;
  border-top: 1px solid #ddd;
  
}

.footer-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 10px;
}

.footer-title {
  font-weight: bold;
  margin-bottom: 10px;
}

.footer ul {
  list-style: none;
  padding: 0;
}

.footer ul li {
  margin-bottom: 5px;
}

.newsletter-input {
  width: 100%;
  padding: 8px;
  margin-top: 10px;
  margin-right: 20px;
  border: 1px solid #ccc;
}

.subscribe-button {
  width: 100%;
  background-color: #e91e63;
  color: white;
  padding: 10px;
  border: none;
  cursor: pointer;
  margin-top: 5px;
}

.subscribe-button:hover {
  background-color: #c2185b;
}

.footer-bottom {
  text-align: center;
  margin-top: 20px;
  font-size: 14px;
  color: gray;
}
